@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app {
  min-height: 100vh;
  display: grid;
  /* background: #e2d4ff; */
  /* background: #212121; */
  background-color: rgb(45, 56, 69);
}

html {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  /* background-color: rgb(0, 51, 113); */
  color: #ececec;
  margin: 0 auto;
}

.display {
  width: 100%;
  height: 250px;
  /* border-radius: 7px 7px 0px 0px; */
  position: relative;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.body .display .weather-image-background {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
  z-index: 8;
}

.body .display .details {
  height: 100%;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display .details .city,
.display .details .timeDateTemp {
  z-index: 9;
}

.display .details .city {
  align-self: flex-end;
}

.display .details .city h3 {
  float: right;
}

.display .details .timeDateTemp {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.display .details .timeDateTemp .timeDate .date {
  color: rgb(179, 179, 179);
}

.display .details .timeDateTemp .timeDate .time {
  font-size: 21px;
}

.display .details .timeDateTemp .temp p {
  font-size: 35px;
}

/* ----------------------------- */
.block-b {
  background-color: #212121;
  padding: 30px 15px;
  /* border-radius: 0px 0px 7px 7px; */
}
.input-control {
  background-color: #212121;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-control .search-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 80%;
}

.input-control .units {
  width: 14%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-control .units button {
  font-size: 23px;
  font-weight: 400;
  background: none;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.input-control .units button {
  cursor: pointer;
  transition: transform 0.3s;
}

.input-control .units button:hover {
  transform: scale(1.15);
}

.input-control .search-control input {
  padding: 8px 15px;
  border-radius: 7px;
  outline: none;
  border: none;
  font-size: 16px;
  width: 100%;
}

.input-control .search-control .control-icon {
  cursor: pointer;
  transition: transform 0.3s;
}

.input-control .search-control .control-icon:hover {
  transform: scale(1.15);
}

/* ----------------------------- */

.block-b .tempAndDetails {
  padding: 25px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-b .tempAndDetails .weather-condition {
  font-size: 23px;
  color: #4adea8;
}
.block-b .tempAndDetails .vertical-result {
  font-size: 11px;
}

.block-b .tempAndDetails .vertical-result .vertical-icons {
  margin-right: 3px;
}

.block-b .tempAndDetails .vertical-result span {
  margin-left: 3px;
}

/* ----------------------------- */
.horizontal-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
}

.horizontal-part .sunAndTemp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.horizontal-part .horizontal-icon {
  margin-right: 3px;
}

.horizontal-part span {
  margin-left: 3px;
}

/* ----------------------------- */

.forecast-accordian {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 21px;
}

.forecast-accordian .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ----------------------------- */
.forecast {
  margin-top: 13px;
}

.forecast .title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: inline-block;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 1px;
}

.forecast .three-hour-step {
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecast .three-hour-step .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------------------------- */
/* MEDIA QUERY */
@media only screen and (min-width: 992px) {
  /* For Tablet and desktop: */
  .body {
    display: flex;
    padding-block: 15px;
    width: 80%;
  }

  .body .display {
    width: 40%;
    height: 100%;
    border-radius: 7px 0 0 7px;
  }

  .body .block-b {
    width: 60%;
    border-radius: 0 7px 7px 0;
  }
}

@media only screen and (min-width: 1120px) {
  /* For lg and xxl screen: */
  .body {
    width: 70%;
  }
}
